  html {
    height: 100%;
  }

  body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }

  body div {
    height: 100%;
    padding: 0px;
  }

  body div.mapRow {
    height: 60%;
  }

  body div.countryRow {
    height: 40%;
  }

  #content {
    position: relative;
  }

  #map {
    position: absolute;
      display: block;
      margin: auto;
      padding: 0px;
      height: 100%;
      width: 100%;
      border-color: #ffffff;
    }

  #content .map path {
    /* stroke: gray; */
    margin: 0px;
    padding: 0px;
  }

  g {
      border:1px solid red;

  }

  svg {
      border:1px solid red;
  }

  /* .Africa {
    fill: red;
    stroke: black;
  }

  .Americas {
    fill: green;
    stroke: black;
  }

  .Asia {
    fill: orange;
    stroke: orange;
  }

  .Europe {
    fill: DodgerBlue;
    stroke: DodgerBlue;
  }

  .Oceania {
    fill: purple;
    stroke: purple;
  }

  .Sub-Saharan_Africa {
    fill: purple;
    stroke: purple;
  }
  .Latin_America_and_the_Caribbean {
    fill: blue;
    stroke: blue;
  }
  .Northern_America {
    fill: green;
    stroke: green;
  }

  .Northern_Africa {
    fill: red;
    stroke: red;
  }
  .Sub-Saharan_Africa {
    fill: purple;
    stroke: purple;
  }

  .Northern_America {
    fill: green;
    stroke: green;
  }
  .none {
    fill: black;
    stroke: black;
  }
  .Central_Asia {
    fill: orange;
    stroke: orange;
  }
  .Eastern_Asia {
    fill: red;
    stroke: red;
  }
  .South-eastern_Asia {
    fill: purple;
    stroke: purple;
  }
  .Southern_Asia {
    fill: blue;
    stroke: blue;
  }
  .Western_Asia {
    fill: green;
    stroke: green;
  }
  .Eastern_Europe {
    fill: yellow;
    stroke: yellow;
  }
  .Northern_Europe {
    fill: orange;
    stroke: orange;
  }
  .Southern_Europe {
    fill: red;
    stroke: red;
  }
  .Western_Europe {
    fill: purple;
    stroke: purple;
  }
  .Australia_and_New_Zealand {
    fill: blue;
    stroke: blue;
  }
  .Melanesia {
    fill: green;
    stroke: green;
  }
  .Micronesia {
    fill: yellow;
    stroke: yellow;
  }
  .Polynesia {
    fill: green;
    stroke: green;
  } */

  /* .selected {
    fill: #00ff00;
    stroke: #00ff00;
  } */

  .mouseover {
    fill: DarkGray;
    stroke: gray;
  }

  .mouseover_Africa {
    fill: gray;
    stroke: gray;
  }

  .mouseover_Americas {
    fill: gray;
    stroke: gray;
  }

  .mouseover_Asia {
    fill: gray;
    stroke: gray;
  }

  .mouseover_Europe {
    fill: gray;
    stroke: gray;
  }

  .mouseover_Oceania {
    fill: gray;
    stroke: gray;
  }

  .mouseover_Sub-Saharan_Africa {
    fill: purple;
    stroke: purple;
  }
  .mouseover_Latin_America_and_the_Caribbean {
    fill: blue;
    stroke: blue;
  }
  .mouseover_Northern_America {
    fill: green;
    stroke: green;
  }

  .mouseover_Northern_Africa {
    fill: blue;
    stroke: blue;
  }
  .mouseover_Sub-Saharan_Africa {
    fill: purple;
    stroke: purple;
  }
  .mouseover_Latin_America_and_the_Caribbean {
    fill: blue;
    stroke: blue;
  }
  .mouseover_Northern_America {
    fill: green;
    stroke: green;
  }
  .mouseover_none {
    fill: black;
    stroke: black;
  }
  .mouseover_Central_Asia {
    fill: orange;
    stroke: orange;
  }
  .mouseover_Eastern_Asia {
    fill: red;
    stroke: red;
  }
  .mouseover_South-eastern_Asia {
    fill: purple;
    stroke: purple;
  }
  .mouseover_Southern_Asia {
    fill: blue;
    stroke: blue;
  }
  .mouseover_Western_Asia {
    fill: green;
    stroke: green;
  }
  .mouseover_Eastern_Europe {
    fill: yellow;
    stroke: yellow;
  }
  .mouseover_Northern_Europe {
    fill: orange;
    stroke: orange;
  }
  .mouseover_Southern_Europe {
    fill: red;
    stroke: red;
  }
  .mouseover_Western_Europe {
    fill: purple;
    stroke: purple;
  }
  .mouseover_Australia_and_New_Zealand {
    fill: blue;
    stroke: blue;
  }
  .mouseover_Melanesia {
    fill: green;
    stroke: green;
  }
  .mouseover_Micronesia {
    fill: yellow;
    stroke: yellow;
  }
  .mouseover_Polynesia {
    fill: green;
    stroke: green;
  }

  .country {
    stroke: DarkGray;
  }
  /* path {
    transition: fill 4s ease;
    transition: stroke 4s ease;
  } */
  #map {
    background: #a3cee9;
  }
