    html {
      height: 100%;
    }

    body {
      height: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      margin: 0px;
      padding: 0px;
  }

  div.container-fluid {
    position: absolute;
  }
  .fullHeight {
    height: 100%;

  }

  .filter {
    width: 100%;
  }

  .evenWidth {
    display: table;
  }

  .moveToTop {
    z-index: 10;
  }

  .moveToBackground {
    z-index: 0;
  }

  #detailsLayer {
    height: 100%;
    width: 100%;
  }
  /*
  .countryDetails {
    width: 50%;
    height: 100%;
    padding: 0px;
    border: solid #6d6a6a
  }

  .countryWindow {
    position: absolute;
    display: block;
    margin: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
  }

  */

  .mapContainer {
    padding: 0px;
  }

  #map {
      display: block;
      margin: auto;
      padding: 0px;
      height: 100%;
    }

  #content .map path {
    /* stroke: gray; */
    margin: 0px;
    padding: 0px;
  }

  g {
      border:1px solid red;

  }

  svg {
      border:1px solid red;
  }

  .Africa {
    fill: red;
    /* stroke: black; */
  }

  .Americas {
    fill: green;
    /* stroke: black; */
  }

  .Asia {
    fill: orange;
    /* stroke: orange; */
  }

  .Europe {
    fill: DodgerBlue;
    /* stroke: DodgerBlue; */
  }

  .Oceania {
    fill: purple;
    /* stroke: purple; */
  }

  #Africa {
    fill: yellow;
  }

  .Sub-Saharan_Africa {
    fill: purple;
    stroke: purple;
  }
  .Latin_America_and_the_Caribbean {
    fill: blue;
    stroke: blue;
  }
  .Northern_America {
    fill: green;
    stroke: green;
  }

  .Northern_Africa {
    fill: red;
    stroke: red;
  }
  .Sub-Saharan_Africa {
    fill: purple;
    stroke: purple;
  }
  .Latin_America_and_the_Caribbean {
    fill: blue;
    stroke: blue;
  }
  .Northern_America {
    fill: green;
    stroke: green;
  }
  .none {
    fill: black;
    stroke: black;
  }
  .Central_Asia {
    fill: orange;
    stroke: orange;
  }
  .Eastern_Asia {
    fill: red;
    stroke: red;
  }
  .South-eastern_Asia {
    fill: purple;
    stroke: purple;
  }
  .Southern_Asia {
    fill: blue;
    stroke: blue;
  }
  .Western_Asia {
    fill: green;
    stroke: green;
  }
  .Eastern_Europe {
    fill: yellow;
    stroke: yellow;
  }
  .Northern_Europe {
    fill: orange;
    stroke: orange;
  }
  .Southern_Europe {
    fill: red;
    stroke: red;
  }
  .Western_Europe {
    fill: purple;
    stroke: purple;
  }
  .Australia_and_New_Zealand {
    fill: blue;
    stroke: blue;
  }
  .Melanesia {
    fill: green;
    stroke: green;
  }
  .Micronesia {
    fill: yellow;
    stroke: yellow;
  }
  .Polynesia {
    fill: green;
    stroke: green;
  }


  .mouseover {
    fill: DarkGray;
    stroke: gray;
  }
  .mouseover_Sub-Saharan_Africa {
    fill: purple;
    stroke: purple;
  }
  .mouseover_Latin_America_and_the_Caribbean {
    fill: blue;
    stroke: blue;
  }
  .mouseover_Northern_America {
    fill: green;
    stroke: green;
  }

  .mouseover_Northern_Africa {
    fill: red;
    stroke: red;
  }
  .mouseover_Sub-Saharan_Africa {
    fill: purple;
    stroke: purple;
  }
  .mouseover_Latin_America_and_the_Caribbean {
    fill: blue;
    stroke: blue;
  }
  .mouseover_Northern_America {
    fill: green;
    stroke: green;
  }
  .mouseover_none {
    fill: black;
    stroke: black;
  }
  .mouseover_Central_Asia {
    fill: orange;
    stroke: orange;
  }
  .mouseover_Eastern_Asia {
    fill: red;
    stroke: red;
  }
  .mouseover_South-eastern_Asia {
    fill: purple;
    stroke: purple;
  }
  .mouseover_Southern_Asia {
    fill: blue;
    stroke: blue;
  }
  .mouseover_Western_Asia {
    fill: green;
    stroke: green;
  }
  .mouseover_Eastern_Europe {
    fill: yellow;
    stroke: yellow;
  }
  .mouseover_Northern_Europe {
    fill: orange;
    stroke: orange;
  }
  .mouseover_Southern_Europe {
    fill: red;
    stroke: red;
  }
  .mouseover_Western_Europe {
    fill: purple;
    stroke: purple;
  }
  .mouseover_Australia_and_New_Zealand {
    fill: blue;
    stroke: blue;
  }
  .mouseover_Melanesia {
    fill: green;
    stroke: green;
  }
  .mouseover_Micronesia {
    fill: yellow;
    stroke: yellow;
  }
  .mouseover_Polynesia {
    fill: green;
    stroke: green;
  }


  #map {
    background: rgb(235, 222, 209);
  }
